@media (max-width: 1440px){
	nav a{
		font-size: 2.4rem;
	}
	section.container-instructions{
		height: 740px;
	}
	section.container-box{
		height: 500px;
	}
	section.container-box a{
		height: 300px;
	}
}

@media(max-width: 1025px){
	html{
		font-size: 60%;
	}
	.container-instructions .time-section{
		margin-left: 100px;
	}
	.container-instructions .teachers-section{
		margin-left: 50px;
	}
	a.content-box {
		text-align: center;
	}
}

@media(max-width: 769px){
	html{
		font-size: 50%;
	}
}

@media (max-width: 426px){
	header{
		width: 560px;
	}
	nav{
		display: none;
	}
	section{
		width: 560px;
	}
	section.container-instructions{
		display: block;
		height: 900px;
	}
	.time-section{
		width: 380px;
		margin-top: 50px;
	}
	.teachers-section{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 460px;
		margin: 50px 30px;
	}
	#profA,
	#profB,
	#profC,
	#profD{
		margin: 20px auto;
	}
	.box-price{
		height: 110px;
	}
	section.contacts-container{
		font-size: 2.3rem;
	}
	.contacts, .medias{
		width: auto;
	}
	hr, footer{
		width: 560px;
	}
}

@media (max-width: 376px){
	html{font-size: 52%;}
	header, hr, footer{
		width: 650px;
	}
	nav{
		position: absolute;
		width: 650px;
		height: 80px;
	}
	.menu-section.on {
        width: 650px;
        height: 200%;
 	}
	section{
		width: 650px;
	}
	section.container-instructions{
		display: block;
		height: 900px;
	}
	.time-section{
		width: 480px;
		margin-top: 50px;
	}
	.teachers-section{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 500px;
		margin: 30px 50px;
	}
	#profA,
	#profB,
	#profC,
	#profD{
		margin: 20px auto;
	}
	.contacts-container{
		font-size: 2.5rem;
	}
}
