*{
	font-family: 'Merriweather', sans-serif;
	font-family: 'Helvetica Neue', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: 0;
}
html{
  /* a cada 1rem será considerado 10px*/
	font-size: 62.5%;
}
html,
body {
	height: 100vh;
}
body{
	font-size: 1.6rem;
}

/*** MENU ***/
nav{
	background-color: #161819;
	position: fixed;
	height: 6rem;
	width: 100vw;
}
.menu{
	margin-top: 2rem;
}
.menu.menu-list{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2rem;
}
nav ul{
	text-align: center;
}
nav li{
	display: inline;
	margin-top: 7rem;
	width: 20rem;
}
nav a{
	text-decoration: none;
	color: #b2b2b2;	
	font-weight: 600;
	margin: 3rem;
	font-size: 2rem;
}
nav a:hover{
	color: #ffcf2d;
}

/*** CABEÇALHO ***/
header{
	background-image: url(./images/bg.jpg);
	background-position: center center; 
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100vh;
	font-size: 3rem;
	color: #fff;
}
header p{
	margin-top: 5rem;
}

/*** HORÁRIO E PROFESSORES ***/
section.container-instructions{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	height: 80vh;
}
.time-section h2{
	text-align: center;;
	font-size: 4rem;
}
.time-section{
	width: 40vw;
	margin-left: 20rem;
}
section table{
	font-size: 3rem;
	border-spacing: 0;
	border: 1px solid;
	border-collapse: collapse;
	text-align: center;
}
section td{
	border: 1px solid;
	padding: 1rem;
	width: 30rem;
}
section th{
	border: 1px solid;
}
.teachers-section{
	height: 55rem;
	width: 40vw;
	margin-left: 12rem;
}
.teachers-section h2{
	width: 30rem;
	text-align: center;
	font-size: 4rem;
}
.teachers-section p{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 20rem;
	height: 5rem;
	margin: 6rem 0;
	text-align: center;
	font-size: 4rem;
}
.teachers-section img{
	border-radius: 100%;
	width: 8rem;
	height: 8rem;
}
#profA{
	margin-left: 0;
}
#profB{
	margin-left: 5rem;
}
#profC{
	margin-left: 10rem;
}
#profD{
	margin-left: 15rem;
}

/*** OUTROS ***/
.container-box{
	height: 68vh;
	background-color: #161819;
}
.box-price{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	height: 10rem;
	margin-bottom: 4rem;
}
.box-price p{
	font-size: 4rem;
	margin-top: 3rem;
}
.box-price span{
	font-size: 3rem;
}
.boxes{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: auto;
}
.content-box{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffbd10;
	border: 1px solid;
	height: 42rem;

	color: #000;
	text-decoration:none;
	font-size: 4rem;
}
.content-box:hover{
	font-weight: 600;
}

/*** CONTATOS ***/
section.contacts-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 14rem;
	font-size: 2.5rem;
}
.contacts{
	width: 50rem;
}
.medias{
	width: 30rem;
}
section.contacts-container a{
	display: flex;
	text-decoration: none;
	color: #000;
	font-weight: 600;
}
section.contacts-container a:hover{
	color: #d45a13;
}

/*** FOOTER ***/
footer{
/*fixa a posição do footer no final da página*/	
	bottom: 0;
	padding: 1.8rem;
}
.attribution{ 
	text-align: center; 
	font-size: 2rem;
}
.attribution a{
	text-decoration: none;
	color: #000;
	font-weight: 800;
}
.attribution a:hover{
	color: #d45a13;
}

